.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__w23K1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") left 0% bottom 46.89% / 2127px 1989px
    repeat;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w23K1 {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.header2__gKvQi:global(.__wab_instance) {
  margin-top: 0px;
  width: 1300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2__gKvQi:global(.__wab_instance) {
    margin-top: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ll5Oa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  min-width: 0;
  padding: 128px 32px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ll5Oa {
    padding-top: 130px;
    padding-bottom: 220px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ufFRn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ufFRn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__ufFRn > :global(.__wab_flex-container) > *,
.freeBox__ufFRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ufFRn > :global(.__wab_flex-container) > picture > img,
.freeBox__ufFRn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ufFRn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ufFRn > :global(.__wab_flex-container) > *,
  .freeBox__ufFRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ufFRn > :global(.__wab_flex-container) > picture > img,
  .freeBox__ufFRn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-JQbI5OnBwRMiKb);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}
.freeBox__db4Js {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 507px;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__db4Js {
    position: relative;
  }
}
.text__bKxMm {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bKxMm {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox___5J3M3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox___5J3M3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___5J3M3 > :global(.__wab_flex-container) > *,
.freeBox___5J3M3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5J3M3 > :global(.__wab_flex-container) > picture > img,
.freeBox___5J3M3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___8DVd1 {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2___6Rpni:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2___6Rpni:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__eWEiq {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__hdIv1 {
  position: relative;
}
.columns__y7WG {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__y7WG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__y7WG > :global(.__wab_flex-container) > *,
.columns__y7WG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__y7WG > :global(.__wab_flex-container) > picture > img,
.columns__y7WG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
.columns__y7WG {
  --plsmc-rc-col-gap: 0px;
}
.columns__y7WG > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__y7WG > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__y7WG > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__y7WG > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7WG {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7WG > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7WG > :global(.__wab_flex-container) > *,
  .columns__y7WG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__y7WG > :global(.__wab_flex-container) > picture > img,
  .columns__y7WG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7WG > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fdx4F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__uitr0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__uitr0:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__j6Y3E {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__j6Y3E > picture > img {
  object-fit: cover;
}
.ratings__wnAft:global(.__wab_instance) {
  position: relative;
}
.column__oLsf1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__i7Ix6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___1GSD {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___1GSD > picture > img {
  object-fit: cover;
}
.ratings___1G5Wc:global(.__wab_instance) {
  position: relative;
}
.column__wTnfb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__yHjSg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__gFmUr {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gFmUr > picture > img {
  object-fit: cover;
}
.ratings__k0Ik1:global(.__wab_instance) {
  position: relative;
}
.column___4LZsn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__aLoW:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__alNeM {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__alNeM > picture > img {
  object-fit: cover;
}
.ratings__owWm4:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__xEj4W {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__uh0Xn {
  position: relative;
  color: var(--token-g_4_susZAQDd7y);
  font-size: 30px;
  font-weight: 500;
}
.columns__yijqC {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__yijqC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
  --plsmc-rc-col-gap: 36px;
}
.columns__yijqC > :global(.__wab_flex-container) > *,
.columns__yijqC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yijqC > :global(.__wab_flex-container) > picture > img,
.columns__yijqC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
.columns__yijqC {
  --plsmc-rc-col-gap: 0px;
}
.columns__yijqC > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yijqC > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yijqC > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yijqC > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yijqC {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yijqC > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yijqC > :global(.__wab_flex-container) > *,
  .columns__yijqC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__yijqC > :global(.__wab_flex-container) > picture > img,
  .columns__yijqC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yijqC > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mo4Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__thyaK:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__x6B5E {
  height: auto;
}
.text__xMjYu {
  height: auto;
}
.img___2Hdsi {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2Hdsi > picture > img {
  object-fit: cover;
}
.ratings__zI7Jr:global(.__wab_instance) {
  position: relative;
}
.column__r8EWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__vjv5H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__qez8K {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qez8K > picture > img {
  object-fit: cover;
}
.ratings__xn8Az:global(.__wab_instance) {
  position: relative;
}
.column__e88K6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__gc0Kr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__tyz3Y {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__tyz3Y > picture > img {
  object-fit: cover;
}
.ratings___2MSjj:global(.__wab_instance) {
  position: relative;
}
.column__uPsm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__y4Ph7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__y4Ph7:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__y3FeM {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__y3FeM > picture > img {
  object-fit: cover;
}
.ratings__yElUh:global(.__wab_instance) {
  position: relative;
}
.freeBox__sltRd {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__a4GVt {
  position: relative;
  color: var(--token-g_4_susZAQDd7y);
  font-size: 30px;
  font-weight: 500;
}
.columns__eqFlK {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__eqFlK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__eqFlK > :global(.__wab_flex-container) > *,
.columns__eqFlK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__eqFlK > :global(.__wab_flex-container) > picture > img,
.columns__eqFlK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__eqFlK {
  --plsmc-rc-col-gap: 0px;
}
.columns__eqFlK > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__eqFlK > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__eqFlK > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eqFlK {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eqFlK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eqFlK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8PJ2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__cdKgt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__e1U4R {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__e1U4R > picture > img {
  object-fit: cover;
}
.column__bxExx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___6GIcF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__dicfx {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__dicfx > picture > img {
  object-fit: cover;
}
.column__zFofq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__xjgQo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__qySjC {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qySjC > picture > img {
  object-fit: cover;
}
.freeBox__izeCd {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-sCiW2RPAVbtvM8);
  display: none;
  padding: 48px;
}
.freeBox__izeCd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__izeCd > :global(.__wab_flex-container) > *,
.freeBox__izeCd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izeCd > :global(.__wab_flex-container) > picture > img,
.freeBox__izeCd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img___4BTp {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img___4BTp > picture > img {
  object-fit: cover;
}
.img__i7Fe5 {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__i7Fe5 > picture > img {
  object-fit: cover;
}
.img___4Nlgj {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img___4Nlgj > picture > img {
  object-fit: cover;
}
.img__opSb {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__opSb > picture > img {
  object-fit: cover;
}
.img__k27DD {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__k27DD > picture > img {
  object-fit: cover;
}
.footer___5VjV:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mz3R8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mz3R8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mz3R8 > :global(.__wab_flex-container) > *,
.freeBox__mz3R8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mz3R8 > :global(.__wab_flex-container) > picture > img,
.freeBox__mz3R8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__oxyt0 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-LCQYFnKXtQ-wZA);
}
.columns__e6Y6F {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__e6Y6F > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__e6Y6F > :global(.__wab_flex-container) > *,
.columns__e6Y6F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__e6Y6F > :global(.__wab_flex-container) > picture > img,
.columns__e6Y6F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__e6Y6F {
  --plsmc-rc-col-gap: 0px;
}
.columns__e6Y6F > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__e6Y6F > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__e6Y6F > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e6Y6F {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e6Y6F > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e6Y6F > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2Wqni {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___2Wqni > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___2Wqni > :global(.__wab_flex-container) > *,
.column___2Wqni > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___2Wqni > :global(.__wab_flex-container) > picture > img,
.column___2Wqni
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___0Yxet {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___0Yxet > picture > img {
  object-fit: cover;
}
.freeBox__dJFyG {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__uwZP {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__fj682 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___9Vw7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__qxpoo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__gXrDn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column___368Ac {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___368Ac > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___368Ac > :global(.__wab_flex-container) > *,
.column___368Ac > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___368Ac > :global(.__wab_flex-container) > picture > img,
.column___368Ac
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__i3P7N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__i3P7N > picture > img {
  object-fit: cover;
}
.freeBox__woSIx {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__qYYrU {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__udmUv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___8UIzj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__nwsop {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5___1X4Oh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__bDwn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bDwn9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__bDwn9 > :global(.__wab_flex-container) > *,
.column__bDwn9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bDwn9 > :global(.__wab_flex-container) > picture > img,
.column__bDwn9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__xqEtA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__xqEtA > picture > img {
  object-fit: cover;
}
.freeBox__kHVjd {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__gLsld {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___6YjDs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__qfKqk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text___5V5Ux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5___3I9P1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.img__cIhp5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__cIhp5 > picture > img {
  object-fit: cover;
}
.freeBox__nd0UP {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___6Tu4L {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__tqWt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__f6Wgu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__zoPMk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__uk7UU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__it5Qy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__it5Qy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__it5Qy > :global(.__wab_flex-container) > *,
.freeBox__it5Qy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__it5Qy > :global(.__wab_flex-container) > picture > img,
.freeBox__it5Qy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__n8K1C {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-LCQYFnKXtQ-wZA);
}
.columns__wrOw6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__wrOw6 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__wrOw6 > :global(.__wab_flex-container) > *,
.columns__wrOw6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wrOw6 > :global(.__wab_flex-container) > picture > img,
.columns__wrOw6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__wrOw6 {
  --plsmc-rc-col-gap: 0px;
}
.columns__wrOw6 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__wrOw6 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__wrOw6 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__wrOw6 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wrOw6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wrOw6 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wrOw6 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mkMGe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__mkMGe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__mkMGe > :global(.__wab_flex-container) > *,
.column__mkMGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mkMGe > :global(.__wab_flex-container) > picture > img,
.column__mkMGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___8C7Qw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___8C7Qw > picture > img {
  object-fit: cover;
}
.freeBox___6Yc2A {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__un67K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__dGp03 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__pC6Js {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__djmt8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__hKxio {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__pF2Ix {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__pF2Ix > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__pF2Ix > :global(.__wab_flex-container) > *,
.column__pF2Ix > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pF2Ix > :global(.__wab_flex-container) > picture > img,
.column__pF2Ix
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__yrThu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__yrThu > picture > img {
  object-fit: cover;
}
.freeBox___6K632 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__baTtx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__cycx7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__fTftU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text___1NIh0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__wtNBy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__ceetP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ceetP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__ceetP > :global(.__wab_flex-container) > *,
.column__ceetP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ceetP > :global(.__wab_flex-container) > picture > img,
.column__ceetP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__r9CgC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__r9CgC > picture > img {
  object-fit: cover;
}
.freeBox__vyMjw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__jw4PB {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ym2B3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__ixdUo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__ihil4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__mAdF6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column___4XVeX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___4XVeX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___4XVeX > :global(.__wab_flex-container) > *,
.column___4XVeX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4XVeX > :global(.__wab_flex-container) > picture > img,
.column___4XVeX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__fdVlB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__fdVlB > picture > img {
  object-fit: cover;
}
.freeBox__lPtU {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__xRDxd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ukkGo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__iIGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__xuB7V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__nd4Wa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.weLove {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: -150px;
  padding: 0px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weLove {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 55px;
  }
}
.freeBox___8Kg3W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__ha0P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__ha0P > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__ha0P > :global(.__wab_flex-container) > *,
.columns__ha0P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ha0P > :global(.__wab_flex-container) > picture > img,
.columns__ha0P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__ha0P {
  --plsmc-rc-col-gap: 0px;
}
.columns__ha0P > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ha0P > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ha0P {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ha0P > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ha0P > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__u9Hrb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___2ItAq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img___2ItAq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2ItAq {
    height: 400px;
    flex-shrink: 0;
  }
}
.column__wXvMf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__wXvMf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__wXvMf > :global(.__wab_flex-container) > *,
.column__wXvMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wXvMf > :global(.__wab_flex-container) > picture > img,
.column__wXvMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wXvMf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wXvMf > :global(.__wab_flex-container) > *,
  .column__wXvMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__wXvMf > :global(.__wab_flex-container) > picture > img,
  .column__wXvMf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2___0BCtj {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 42px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___0BCtj {
    font-size: 32px;
  }
}
.text___9OcEi {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9OcEi {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.weThink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 95px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weThink {
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.freeBox___1JHnw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns___9EMHa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns___9EMHa > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns___9EMHa > :global(.__wab_flex-container) > *,
.columns___9EMHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9EMHa > :global(.__wab_flex-container) > picture > img,
.columns___9EMHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns___9EMHa {
  --plsmc-rc-col-gap: 0px;
}
.columns___9EMHa > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___9EMHa > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9EMHa {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9EMHa > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9EMHa > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zoEk1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__zoEk1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__zoEk1 > :global(.__wab_flex-container) > *,
.column__zoEk1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zoEk1 > :global(.__wab_flex-container) > picture > img,
.column__zoEk1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zoEk1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zoEk1 > :global(.__wab_flex-container) > *,
  .column__zoEk1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__zoEk1 > :global(.__wab_flex-container) > picture > img,
  .column__zoEk1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__zgok1 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__zgok1 {
    width: auto;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    color: var(--token-JQbI5OnBwRMiKb);
  }
}
.text__ckjUz {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ckjUz {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    text-align: left;
    min-width: 0;
  }
}
.column__ilZyR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img__vGtKl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__vGtKl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vGtKl {
    width: 500px;
    height: 400px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.footer__wDgGd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
