@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inter%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Barlow+Semi+Condensed%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Archivo+Black%3Aital%2Cwght%400%2C400&family=Chelsea+Market%3Aital%2Cwght%400%2C400&family=Archivo%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-SyKmbkhEHEEcSQ: #384647;
  --plasmic-token-text: var(--token-SyKmbkhEHEEcSQ);
  --token-g_4_susZAQDd7y: rgb(97, 96, 96);
  --plasmic-token-heading: var(--token-g_4_susZAQDd7y);
  --token-7C3KQVwHy9oHmZ: rgb(95, 91, 87);
  --plasmic-token-border: var(--token-7C3KQVwHy9oHmZ);
  --token-sCiW2RPAVbtvM8: #f7f7f7;
  --plasmic-token-background: var(--token-sCiW2RPAVbtvM8);
  --token-5t1HxAWbKNvWg9: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-5t1HxAWbKNvWg9);
  --token-8ZboZtq9Kzv0e0: rgb(153, 141, 128);
  --plasmic-token-preheader: var(--token-8ZboZtq9Kzv0e0);
  --token-csDjDcYHGOPBmv: #88dd9b;
  --plasmic-token-green: var(--token-csDjDcYHGOPBmv);
  --token-hW4N1-ZKsCzDUI: 1.5;
  --plasmic-token-unnamed-style-token-2: var(--token-hW4N1-ZKsCzDUI);
  --token-JQbI5OnBwRMiKb: #273132;
  --plasmic-token-heading-2: var(--token-JQbI5OnBwRMiKb);
  --token-LCQYFnKXtQ-wZA: #6b797a;
  --plasmic-token-heading-3: var(--token-LCQYFnKXtQ-wZA);
  --token-1s7BIlpGsPmIMD: 270px;
  --plasmic-token-product-height: var(--token-1s7BIlpGsPmIMD);
  --token-qwA8_njdYjoGiG: #384647;
  --plasmic-token-header-meneu-color: var(--token-qwA8_njdYjoGiG);
  --token-4AcyQ-jiNGmi18: 749px;
  --plasmic-token-about-img: var(--token-4AcyQ-jiNGmi18);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-X8su_RZUGulY2s_font-family: "Montserrat", sans-serif;
  --mixin-X8su_RZUGulY2s_font-size: 16px;
  --mixin-X8su_RZUGulY2s_font-weight: 300;
  --mixin-X8su_RZUGulY2s_font-style: normal;
  --mixin-X8su_RZUGulY2s_color: #535353;
  --mixin-X8su_RZUGulY2s_text-align: left;
  --mixin-X8su_RZUGulY2s_text-transform: none;
  --mixin-X8su_RZUGulY2s_line-height: 1.7;
  --mixin-X8su_RZUGulY2s_letter-spacing: 0.2px;
  --mixin-X8su_RZUGulY2s_white-space: pre-wrap;
  --mixin-X8su_RZUGulY2s_user-select: text;
  --mixin-X8su_RZUGulY2s_text-decoration-line: none;
  --mixin-X8su_RZUGulY2s_text-overflow: clip;
  --mixin-hsptE6nWy6eE23_color: var(--token-5t1HxAWbKNvWg9);
  --mixin-hsptE6nWy6eE23_font-family: "Open Sans", sans-serif;
  --mixin-hsptE6nWy6eE23_font-weight: 700;
  --mixin-hsptE6nWy6eE23_font-size: 64px;
  --mixin-hsptE6nWy6eE23_line-height: 1.1;
  --mixin-hsptE6nWy6eE23_white-space: pre-wrap;
  --mixin-_sk-8luG5YQTy2_color: var(--token-6-9k9VEZ-);
  --mixin-_sk-8luG5YQTy2_font-family: "Open Sans", sans-serif;
  --mixin-_sk-8luG5YQTy2_font-weight: 600;
  --mixin-_sk-8luG5YQTy2_font-size: 32px;
  --mixin-_sk-8luG5YQTy2_letter-spacing: -1px;
  --mixin-_sk-8luG5YQTy2_white-space: pre-wrap;
  --mixin-xXKeGJLjvJaPqu_font-size: 32px;
  --mixin-xXKeGJLjvJaPqu_white-space: pre-wrap;
  --mixin-FJvjpBY-cpz8k0_font-family: "Inter", sans-serif;
  --mixin-FJvjpBY-cpz8k0_color: #000000;
  --mixin-FJvjpBY-cpz8k0_font-size: 16px;
  --mixin-FJvjpBY-cpz8k0_font-weight: 600;
  --mixin-FJvjpBY-cpz8k0_line-height: 1.5;
  --mixin-FJvjpBY-cpz8k0_white-space: pre-wrap;
  --mixin-ku8boj74af8rPp_font-size: 24px;
  --mixin-ku8boj74af8rPp_color: var(--token-NEon4Y--Z);
  --mixin-ku8boj74af8rPp_font-weight: 600;
  --mixin-ku8boj74af8rPp_font-family: "Montserrat", sans-serif;
  --mixin-ku8boj74af8rPp_white-space: pre-wrap;
  --mixin-ql59jsKRu81ZHI_font-size: 16px;
  --mixin-ql59jsKRu81ZHI_color: var(--token-JQbI5OnBwRMiKb);
  --mixin-ql59jsKRu81ZHI_font-weight: 600;
  --mixin-ql59jsKRu81ZHI_font-family: "Montserrat", sans-serif;
  --mixin-ql59jsKRu81ZHI_white-space: pre-wrap;
  --mixin-TQkApkr3vcJDNj_font-size: 24px;
  --mixin-TQkApkr3vcJDNj_color: #384647;
  --mixin-TQkApkr3vcJDNj_font-family: "Open Sans", sans-serif;
  --mixin-TQkApkr3vcJDNj_font-weight: 700;
  --mixin-TQkApkr3vcJDNj_white-space: pre-wrap;
  --mixin-02aBhA5l5HHo98_border-left-color: #dddddd;
  --mixin-02aBhA5l5HHo98_border-left-style: solid;
  --mixin-02aBhA5l5HHo98_border-left-width: 3px;
  --mixin-02aBhA5l5HHo98_color: #888888;
  --mixin-02aBhA5l5HHo98_padding-left: 10px;
  --mixin-02aBhA5l5HHo98_white-space: pre-wrap;
  --mixin-lgeSSXLq__vSmu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lgeSSXLq__vSmu_border-bottom-color: #dddddd;
  --mixin-lgeSSXLq__vSmu_border-bottom-style: solid;
  --mixin-lgeSSXLq__vSmu_border-bottom-width: 1px;
  --mixin-lgeSSXLq__vSmu_border-left-color: #dddddd;
  --mixin-lgeSSXLq__vSmu_border-left-style: solid;
  --mixin-lgeSSXLq__vSmu_border-left-width: 1px;
  --mixin-lgeSSXLq__vSmu_border-right-color: #dddddd;
  --mixin-lgeSSXLq__vSmu_border-right-style: solid;
  --mixin-lgeSSXLq__vSmu_border-right-width: 1px;
  --mixin-lgeSSXLq__vSmu_border-top-color: #dddddd;
  --mixin-lgeSSXLq__vSmu_border-top-style: solid;
  --mixin-lgeSSXLq__vSmu_border-top-width: 1px;
  --mixin-lgeSSXLq__vSmu_border-bottom-left-radius: 3px;
  --mixin-lgeSSXLq__vSmu_border-bottom-right-radius: 3px;
  --mixin-lgeSSXLq__vSmu_border-top-left-radius: 3px;
  --mixin-lgeSSXLq__vSmu_border-top-right-radius: 3px;
  --mixin-lgeSSXLq__vSmu_font-family: "Inconsolata";
  --mixin-lgeSSXLq__vSmu_padding-bottom: 1px;
  --mixin-lgeSSXLq__vSmu_padding-left: 4px;
  --mixin-lgeSSXLq__vSmu_padding-right: 4px;
  --mixin-lgeSSXLq__vSmu_padding-top: 1px;
  --mixin-lgeSSXLq__vSmu_white-space: pre-wrap;
  --mixin-0j_-ID7sD64S5h_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0j_-ID7sD64S5h_border-bottom-color: #dddddd;
  --mixin-0j_-ID7sD64S5h_border-bottom-style: solid;
  --mixin-0j_-ID7sD64S5h_border-bottom-width: 1px;
  --mixin-0j_-ID7sD64S5h_border-left-color: #dddddd;
  --mixin-0j_-ID7sD64S5h_border-left-style: solid;
  --mixin-0j_-ID7sD64S5h_border-left-width: 1px;
  --mixin-0j_-ID7sD64S5h_border-right-color: #dddddd;
  --mixin-0j_-ID7sD64S5h_border-right-style: solid;
  --mixin-0j_-ID7sD64S5h_border-right-width: 1px;
  --mixin-0j_-ID7sD64S5h_border-top-color: #dddddd;
  --mixin-0j_-ID7sD64S5h_border-top-style: solid;
  --mixin-0j_-ID7sD64S5h_border-top-width: 1px;
  --mixin-0j_-ID7sD64S5h_border-bottom-left-radius: 3px;
  --mixin-0j_-ID7sD64S5h_border-bottom-right-radius: 3px;
  --mixin-0j_-ID7sD64S5h_border-top-left-radius: 3px;
  --mixin-0j_-ID7sD64S5h_border-top-right-radius: 3px;
  --mixin-0j_-ID7sD64S5h_font-family: "Inconsolata";
  --mixin-0j_-ID7sD64S5h_padding-bottom: 3px;
  --mixin-0j_-ID7sD64S5h_padding-left: 6px;
  --mixin-0j_-ID7sD64S5h_padding-right: 6px;
  --mixin-0j_-ID7sD64S5h_padding-top: 3px;
  --mixin-0j_-ID7sD64S5h_white-space: pre-wrap;
  --mixin-ECxcNQfZ4Xp93Q_display: flex;
  --mixin-ECxcNQfZ4Xp93Q_flex-direction: column;
  --mixin-ECxcNQfZ4Xp93Q_align-items: stretch;
  --mixin-ECxcNQfZ4Xp93Q_justify-content: flex-start;
  --mixin-ECxcNQfZ4Xp93Q_list-style-position: outside;
  --mixin-ECxcNQfZ4Xp93Q_padding-left: 40px;
  --mixin-ECxcNQfZ4Xp93Q_position: relative;
  --mixin-ECxcNQfZ4Xp93Q_list-style-type: decimal;
  --mixin-ECxcNQfZ4Xp93Q_white-space: pre-wrap;
  --mixin-Wan--7bAdjSU68_display: flex;
  --mixin-Wan--7bAdjSU68_flex-direction: column;
  --mixin-Wan--7bAdjSU68_align-items: stretch;
  --mixin-Wan--7bAdjSU68_justify-content: flex-start;
  --mixin-Wan--7bAdjSU68_list-style-position: outside;
  --mixin-Wan--7bAdjSU68_padding-left: 40px;
  --mixin-Wan--7bAdjSU68_position: relative;
  --mixin-Wan--7bAdjSU68_list-style-type: disc;
  --mixin-Wan--7bAdjSU68_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-xwtOfzaEK9z9ed_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-xwtOfzaEK9z9ed_white-space);
  --mixin-MMBSZ3cralaXjN_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(
    --mixin-MMBSZ3cralaXjN_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-X8su_RZUGulY2s_font-family);
  font-size: var(--mixin-X8su_RZUGulY2s_font-size);
  font-weight: var(--mixin-X8su_RZUGulY2s_font-weight);
  font-style: var(--mixin-X8su_RZUGulY2s_font-style);
  color: var(--mixin-X8su_RZUGulY2s_color);
  text-align: var(--mixin-X8su_RZUGulY2s_text-align);
  text-transform: var(--mixin-X8su_RZUGulY2s_text-transform);
  line-height: var(--mixin-X8su_RZUGulY2s_line-height);
  letter-spacing: var(--mixin-X8su_RZUGulY2s_letter-spacing);
  white-space: var(--mixin-X8su_RZUGulY2s_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-hsptE6nWy6eE23_color);
  font-family: var(--mixin-hsptE6nWy6eE23_font-family);
  font-weight: var(--mixin-hsptE6nWy6eE23_font-weight);
  font-size: var(--mixin-hsptE6nWy6eE23_font-size);
  line-height: var(--mixin-hsptE6nWy6eE23_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-_sk-8luG5YQTy2_color);
  font-family: var(--mixin-_sk-8luG5YQTy2_font-family);
  font-weight: var(--mixin-_sk-8luG5YQTy2_font-weight);
  font-size: var(--mixin-_sk-8luG5YQTy2_font-size);
  letter-spacing: var(--mixin-_sk-8luG5YQTy2_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-xXKeGJLjvJaPqu_font-size);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-FJvjpBY-cpz8k0_font-family);
  color: var(--mixin-FJvjpBY-cpz8k0_color);
  font-size: var(--mixin-FJvjpBY-cpz8k0_font-size);
  font-weight: var(--mixin-FJvjpBY-cpz8k0_font-weight);
  line-height: var(--mixin-FJvjpBY-cpz8k0_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-ku8boj74af8rPp_font-size);
  color: var(--mixin-ku8boj74af8rPp_color);
  font-weight: var(--mixin-ku8boj74af8rPp_font-weight);
  font-family: var(--mixin-ku8boj74af8rPp_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  font-size: var(--mixin-ql59jsKRu81ZHI_font-size);
  color: var(--mixin-ql59jsKRu81ZHI_color);
  font-weight: var(--mixin-ql59jsKRu81ZHI_font-weight);
  font-family: var(--mixin-ql59jsKRu81ZHI_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-TQkApkr3vcJDNj_font-size);
  color: var(--mixin-TQkApkr3vcJDNj_color);
  font-family: var(--mixin-TQkApkr3vcJDNj_font-family);
  font-weight: var(--mixin-TQkApkr3vcJDNj_font-weight);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-02aBhA5l5HHo98_color);
  padding-left: var(--mixin-02aBhA5l5HHo98_padding-left);
  border-left: var(--mixin-02aBhA5l5HHo98_border-left-width)
    var(--mixin-02aBhA5l5HHo98_border-left-style)
    var(--mixin-02aBhA5l5HHo98_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lgeSSXLq__vSmu_font-family);
  border-radius: var(--mixin-lgeSSXLq__vSmu_border-top-left-radius)
    var(--mixin-lgeSSXLq__vSmu_border-top-right-radius)
    var(--mixin-lgeSSXLq__vSmu_border-bottom-right-radius)
    var(--mixin-lgeSSXLq__vSmu_border-bottom-left-radius);
  padding: var(--mixin-lgeSSXLq__vSmu_padding-top)
    var(--mixin-lgeSSXLq__vSmu_padding-right)
    var(--mixin-lgeSSXLq__vSmu_padding-bottom)
    var(--mixin-lgeSSXLq__vSmu_padding-left);
  border-top: var(--mixin-lgeSSXLq__vSmu_border-top-width)
    var(--mixin-lgeSSXLq__vSmu_border-top-style)
    var(--mixin-lgeSSXLq__vSmu_border-top-color);
  border-right: var(--mixin-lgeSSXLq__vSmu_border-right-width)
    var(--mixin-lgeSSXLq__vSmu_border-right-style)
    var(--mixin-lgeSSXLq__vSmu_border-right-color);
  border-bottom: var(--mixin-lgeSSXLq__vSmu_border-bottom-width)
    var(--mixin-lgeSSXLq__vSmu_border-bottom-style)
    var(--mixin-lgeSSXLq__vSmu_border-bottom-color);
  border-left: var(--mixin-lgeSSXLq__vSmu_border-left-width)
    var(--mixin-lgeSSXLq__vSmu_border-left-style)
    var(--mixin-lgeSSXLq__vSmu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0j_-ID7sD64S5h_font-family);
  border-radius: var(--mixin-0j_-ID7sD64S5h_border-top-left-radius)
    var(--mixin-0j_-ID7sD64S5h_border-top-right-radius)
    var(--mixin-0j_-ID7sD64S5h_border-bottom-right-radius)
    var(--mixin-0j_-ID7sD64S5h_border-bottom-left-radius);
  padding: var(--mixin-0j_-ID7sD64S5h_padding-top)
    var(--mixin-0j_-ID7sD64S5h_padding-right)
    var(--mixin-0j_-ID7sD64S5h_padding-bottom)
    var(--mixin-0j_-ID7sD64S5h_padding-left);
  border-top: var(--mixin-0j_-ID7sD64S5h_border-top-width)
    var(--mixin-0j_-ID7sD64S5h_border-top-style)
    var(--mixin-0j_-ID7sD64S5h_border-top-color);
  border-right: var(--mixin-0j_-ID7sD64S5h_border-right-width)
    var(--mixin-0j_-ID7sD64S5h_border-right-style)
    var(--mixin-0j_-ID7sD64S5h_border-right-color);
  border-bottom: var(--mixin-0j_-ID7sD64S5h_border-bottom-width)
    var(--mixin-0j_-ID7sD64S5h_border-bottom-style)
    var(--mixin-0j_-ID7sD64S5h_border-bottom-color);
  border-left: var(--mixin-0j_-ID7sD64S5h_border-left-width)
    var(--mixin-0j_-ID7sD64S5h_border-left-style)
    var(--mixin-0j_-ID7sD64S5h_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ECxcNQfZ4Xp93Q_display);
  flex-direction: var(--mixin-ECxcNQfZ4Xp93Q_flex-direction);
  align-items: var(--mixin-ECxcNQfZ4Xp93Q_align-items);
  justify-content: var(--mixin-ECxcNQfZ4Xp93Q_justify-content);
  list-style-position: var(--mixin-ECxcNQfZ4Xp93Q_list-style-position);
  padding-left: var(--mixin-ECxcNQfZ4Xp93Q_padding-left);
  position: var(--mixin-ECxcNQfZ4Xp93Q_position);
  list-style-type: var(--mixin-ECxcNQfZ4Xp93Q_list-style-type);
  flex-column-gap: var(--mixin-ECxcNQfZ4Xp93Q_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Wan--7bAdjSU68_display);
  flex-direction: var(--mixin-Wan--7bAdjSU68_flex-direction);
  align-items: var(--mixin-Wan--7bAdjSU68_align-items);
  justify-content: var(--mixin-Wan--7bAdjSU68_justify-content);
  list-style-position: var(--mixin-Wan--7bAdjSU68_list-style-position);
  padding-left: var(--mixin-Wan--7bAdjSU68_padding-left);
  position: var(--mixin-Wan--7bAdjSU68_position);
  list-style-type: var(--mixin-Wan--7bAdjSU68_list-style-type);
  flex-column-gap: var(--mixin-Wan--7bAdjSU68_flex-column-gap);
}
