.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__e1OEm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e1OEm {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__j0ZjI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j0ZjI {
    margin-top: 0px;
    background: url("./images/headerBannerMobilejpg.jpg") top 0% left 50% / contain no-repeat;
  }
}
.img___91T9X {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img___91T9X > picture > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___91T9X {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1300px;
}
.freeBox___1Wd3Z {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Wd3Z {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__fDvZ6 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-5t1HxAWbKNvWg9);
}
.link__fDvZ6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__fDvZ6 > :global(.__wab_flex-container) > *,
.link__fDvZ6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fDvZ6 > :global(.__wab_flex-container) > picture > img,
.link__fDvZ6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fDvZ6 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token-5t1HxAWbKNvWg9);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fDvZ6 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fDvZ6 > :global(.__wab_flex-container) > *,
  .link__fDvZ6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__fDvZ6 > :global(.__wab_flex-container) > picture > img,
  .link__fDvZ6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__jRm22 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__ouaF4 {
  width: auto;
  height: auto;
  color: var(--token-5t1HxAWbKNvWg9);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ouaF4 {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token-5t1HxAWbKNvWg9);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__kqzTc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__kqzTc > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
  --plsmc-rc-col-gap: 60px;
}
.columns__kqzTc > :global(.__wab_flex-container) > *,
.columns__kqzTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kqzTc > :global(.__wab_flex-container) > picture > img,
.columns__kqzTc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
.columns__kqzTc {
  --plsmc-rc-col-gap: 0px;
}
.columns__kqzTc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__kqzTc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kqzTc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kqzTc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kqzTc > :global(.__wab_flex-container) > *,
  .columns__kqzTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kqzTc > :global(.__wab_flex-container) > picture > img,
  .columns__kqzTc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kqzTc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zejOu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__aBFkn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__aBFkn > picture > img {
  object-fit: cover;
}
.column__vBfNo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__vBfNo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__vBfNo > :global(.__wab_flex-container) > *,
.column__vBfNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vBfNo > :global(.__wab_flex-container) > picture > img,
.column__vBfNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-JQbI5OnBwRMiKb);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text__q3EX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.h5__yqsxm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__bXgd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__irEWu {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__v094 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v094 {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link__h28Uu {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-csDjDcYHGOPBmv);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-5t1HxAWbKNvWg9);
}
.link__h28Uu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__h28Uu > :global(.__wab_flex-container) > *,
.link__h28Uu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__h28Uu > :global(.__wab_flex-container) > picture > img,
.link__h28Uu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__h28Uu {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-csDjDcYHGOPBmv);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-5t1HxAWbKNvWg9);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__h28Uu > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__h28Uu > :global(.__wab_flex-container) > *,
  .link__h28Uu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__h28Uu > :global(.__wab_flex-container) > picture > img,
  .link__h28Uu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg__fKvLz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-5t1HxAWbKNvWg9);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text___09Fsh {
  width: auto;
  height: auto;
  color: var(--token-5t1HxAWbKNvWg9);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___09Fsh {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-5t1HxAWbKNvWg9);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__eQD4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__eQD4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eQD4 > :global(.__wab_flex-container) > *,
.freeBox__eQD4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQD4 > :global(.__wab_flex-container) > picture > img,
.freeBox__eQD4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vx82U {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__w3KVh {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__ggizI {
  position: relative;
}
.columns___8MrUh {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns___8MrUh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns___8MrUh > :global(.__wab_flex-container) > *,
.columns___8MrUh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8MrUh > :global(.__wab_flex-container) > picture > img,
.columns___8MrUh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
.columns___8MrUh {
  --plsmc-rc-col-gap: 0px;
}
.columns___8MrUh > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___8MrUh > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___8MrUh > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___8MrUh > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8MrUh {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8MrUh > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8MrUh > :global(.__wab_flex-container) > *,
  .columns___8MrUh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8MrUh > :global(.__wab_flex-container) > picture > img,
  .columns___8MrUh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8MrUh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wvx4B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__q3YaG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__q3YaG:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__wtzds {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wtzds > picture > img {
  object-fit: cover;
}
.ratings__k0A9:global(.__wab_instance) {
  position: relative;
}
.column__jHulh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__jxCyx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___2C2O6 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2C2O6 > picture > img {
  object-fit: cover;
}
.ratings__n3EA0:global(.__wab_instance) {
  position: relative;
}
.column__cqrha {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__pbfxK:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__qiMos {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qiMos > picture > img {
  object-fit: cover;
}
.ratings__umJwj:global(.__wab_instance) {
  position: relative;
}
.column__cJCc5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__m0Lq6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___9VkGx {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___9VkGx > picture > img {
  object-fit: cover;
}
.ratings___3Q8Z6:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__t3Fjc {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text___2DhPa {
  position: relative;
  color: var(--token-g_4_susZAQDd7y);
  font-size: 30px;
  font-weight: 500;
}
.columns__sy6SS {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__sy6SS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
  --plsmc-rc-col-gap: 36px;
}
.columns__sy6SS > :global(.__wab_flex-container) > *,
.columns__sy6SS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__sy6SS > :global(.__wab_flex-container) > picture > img,
.columns__sy6SS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
.columns__sy6SS {
  --plsmc-rc-col-gap: 0px;
}
.columns__sy6SS > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__sy6SS > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__sy6SS > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__sy6SS > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sy6SS {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sy6SS > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sy6SS > :global(.__wab_flex-container) > *,
  .columns__sy6SS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__sy6SS > :global(.__wab_flex-container) > picture > img,
  .columns__sy6SS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sy6SS > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3UuEj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__hVkC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__p59TO {
  height: auto;
}
.text__nYklf {
  height: auto;
}
.img__kfAJm {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__kfAJm > picture > img {
  object-fit: cover;
}
.ratings__jT9MQ:global(.__wab_instance) {
  position: relative;
}
.column__eiXwJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__cb2Vl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__fMwQ3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__fMwQ3 > picture > img {
  object-fit: cover;
}
.ratings__ekpzU:global(.__wab_instance) {
  position: relative;
}
.column__lrFd4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__r1Yw1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___84Qlm {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___84Qlm > picture > img {
  object-fit: cover;
}
.ratings__te0R8:global(.__wab_instance) {
  position: relative;
}
.column___8YDbY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__jiugh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__jiugh:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__ql7Yi {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ql7Yi > picture > img {
  object-fit: cover;
}
.ratings__ht5Hd:global(.__wab_instance) {
  position: relative;
}
.freeBox__gez70 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__cIUrK {
  position: relative;
  color: var(--token-g_4_susZAQDd7y);
  font-size: 30px;
  font-weight: 500;
}
.columns__qiNs2 {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__qiNs2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__qiNs2 > :global(.__wab_flex-container) > *,
.columns__qiNs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qiNs2 > :global(.__wab_flex-container) > picture > img,
.columns__qiNs2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__qiNs2 {
  --plsmc-rc-col-gap: 0px;
}
.columns__qiNs2 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__qiNs2 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__qiNs2 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qiNs2 {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qiNs2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qiNs2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ollZd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___2UtIq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ypzEx {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ypzEx > picture > img {
  object-fit: cover;
}
.column__o7SqM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__eU5J3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__v3NmC {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__v3NmC > picture > img {
  object-fit: cover;
}
.column___4PvZk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__zexfe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__iakPl {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__iakPl > picture > img {
  object-fit: cover;
}
.freeBox___9Nd5Q {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-sCiW2RPAVbtvM8);
  display: none;
  padding: 48px;
}
.freeBox___9Nd5Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9Nd5Q > :global(.__wab_flex-container) > *,
.freeBox___9Nd5Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Nd5Q > :global(.__wab_flex-container) > picture > img,
.freeBox___9Nd5Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__kYnii {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__kYnii > picture > img {
  object-fit: cover;
}
.img__deua3 {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__deua3 > picture > img {
  object-fit: cover;
}
.img__mwZ60 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__mwZ60 > picture > img {
  object-fit: cover;
}
.img__e0Pz0 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__e0Pz0 > picture > img {
  object-fit: cover;
}
.img__vDmY {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__vDmY > picture > img {
  object-fit: cover;
}
.footer__bi2P:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oco5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oco5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__oco5 > :global(.__wab_flex-container) > *,
.freeBox__oco5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oco5 > :global(.__wab_flex-container) > picture > img,
.freeBox__oco5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__zweNv {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-LCQYFnKXtQ-wZA);
}
.columns__xyW8V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__xyW8V > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__xyW8V > :global(.__wab_flex-container) > *,
.columns__xyW8V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xyW8V > :global(.__wab_flex-container) > picture > img,
.columns__xyW8V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__xyW8V {
  --plsmc-rc-col-gap: 0px;
}
.columns__xyW8V > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xyW8V > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xyW8V > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xyW8V {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xyW8V > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xyW8V > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___25Ssi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___25Ssi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___25Ssi > :global(.__wab_flex-container) > *,
.column___25Ssi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___25Ssi > :global(.__wab_flex-container) > picture > img,
.column___25Ssi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ucApC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__ucApC > picture > img {
  object-fit: cover;
}
.freeBox__vRyRz {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__hI1Jo {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__hh0Gr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__nPuQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__ivNtN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__ajzgX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column___6Uh7I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___6Uh7I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___6Uh7I > :global(.__wab_flex-container) > *,
.column___6Uh7I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6Uh7I > :global(.__wab_flex-container) > picture > img,
.column___6Uh7I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__iob8N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__iob8N > picture > img {
  object-fit: cover;
}
.freeBox__nLkvm {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__y36SV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___7QY7C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__lnnVd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__gEomO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__uret9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__ddvx4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ddvx4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__ddvx4 > :global(.__wab_flex-container) > *,
.column__ddvx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ddvx4 > :global(.__wab_flex-container) > picture > img,
.column__ddvx4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__pva {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__pva > picture > img {
  object-fit: cover;
}
.freeBox__uRmS {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__jDqa {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ktgyd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__mpzwy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__xhtmf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__ynLs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.img___5MZqB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___5MZqB > picture > img {
  object-fit: cover;
}
.freeBox__kyuSf {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__rJdLv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___7SH9Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__rozM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__mV7S0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__rAjHt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mk6Py {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mk6Py > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mk6Py > :global(.__wab_flex-container) > *,
.freeBox__mk6Py > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mk6Py > :global(.__wab_flex-container) > picture > img,
.freeBox__mk6Py
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__tODfv {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-LCQYFnKXtQ-wZA);
}
.columns__xMUgE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__xMUgE > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__xMUgE > :global(.__wab_flex-container) > *,
.columns__xMUgE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xMUgE > :global(.__wab_flex-container) > picture > img,
.columns__xMUgE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__xMUgE {
  --plsmc-rc-col-gap: 0px;
}
.columns__xMUgE > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__xMUgE > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__xMUgE > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__xMUgE > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMUgE {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMUgE > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMUgE > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__o2B5Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__o2B5Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__o2B5Q > :global(.__wab_flex-container) > *,
.column__o2B5Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__o2B5Q > :global(.__wab_flex-container) > picture > img,
.column__o2B5Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__d65It {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__d65It > picture > img {
  object-fit: cover;
}
.freeBox__d4SyV {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__eQW {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__itPqm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__pc2IY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text___6Xd5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__elLrF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__tAi1T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tAi1T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__tAi1T > :global(.__wab_flex-container) > *,
.column__tAi1T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__tAi1T > :global(.__wab_flex-container) > picture > img,
.column__tAi1T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__lLewV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__lLewV > picture > img {
  object-fit: cover;
}
.freeBox__q2EC {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__xnT63 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__yrhtd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__zxlq3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__zymMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__gMugZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__wTie {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__wTie > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__wTie > :global(.__wab_flex-container) > *,
.column__wTie > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wTie > :global(.__wab_flex-container) > picture > img,
.column__wTie
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qZfPy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qZfPy > picture > img {
  object-fit: cover;
}
.freeBox__m9GoW {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__bCt8C {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__lhgz5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__qIajd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__j5PQv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__bWvQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.column__gj6Y7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__gj6Y7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__gj6Y7 > :global(.__wab_flex-container) > *,
.column__gj6Y7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gj6Y7 > :global(.__wab_flex-container) > picture > img,
.column__gj6Y7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__vMkhL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-1s7BIlpGsPmIMD);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__vMkhL > picture > img {
  object-fit: cover;
}
.freeBox__wCahI {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-5t1HxAWbKNvWg9);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ibqLj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-csDjDcYHGOPBmv);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__wOyGo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__nyGg7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  font-size: 24px;
  min-width: 0;
}
.text__savo6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-JQbI5OnBwRMiKb);
  min-width: 0;
}
.h5__tLGjJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-JQbI5OnBwRMiKb);
  line-height: 34px;
  min-width: 0;
}
.bestSellers {
  max-width: 1300px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 80px;
  min-width: 0;
  margin: 0px 0px 60px;
}
.bestSellers > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bestSellers > :global(.__wab_flex-container) > *,
.bestSellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bestSellers > :global(.__wab_flex-container) > picture > img,
.bestSellers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers {
    max-width: 1300px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    min-width: 0;
    padding: 0px 20px 42px;
    margin: 0px 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers > :global(.__wab_flex-container) > *,
  .bestSellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .bestSellers > :global(.__wab_flex-container) > picture > img,
  .bestSellers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__bdTlS {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bdTlS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bdTlS > :global(.__wab_flex-container) > *,
.freeBox__bdTlS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdTlS > :global(.__wab_flex-container) > picture > img,
.freeBox__bdTlS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdTlS {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdTlS > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdTlS > :global(.__wab_flex-container) > *,
  .freeBox__bdTlS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bdTlS > :global(.__wab_flex-container) > picture > img,
  .freeBox__bdTlS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.h2__mSyW {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-LCQYFnKXtQ-wZA);
}
.productRow:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productRow:global(.__wab_instance) {
    position: relative;
  }
}
.footer__k6H0X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
